
<div *ngIf="customer">
    <h2><span jhiTranslate="storeApp.customer.detail.title">Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="storeApp.customer.firstName">First Name</span></dt>
        <dd>
            <span>{{customer.firstName}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.customer.lastName">Last Name</span></dt>
        <dd>
            <span>{{customer.lastName}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.customer.gender">Gender</span></dt>
        <dd>
            <span jhiTranslate="{{'storeApp.Gender.' + customer.gender}}">{{customer.gender}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.customer.email">Email</span></dt>
        <dd>
            <span>{{customer.email}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.customer.phone">Phone</span></dt>
        <dd>
            <span>{{customer.phone}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.customer.addressLine1">Address Line 1</span></dt>
        <dd>
            <span>{{customer.addressLine1}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.customer.addressLine2">Address Line 2</span></dt>
        <dd>
            <span>{{customer.addressLine2}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.customer.city">City</span></dt>
        <dd>
            <span>{{customer.city}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.customer.country">Country</span></dt>
        <dd>
            <span>{{customer.country}}</span>
        </dd>
        <dt><span jhiTranslate="storeApp.customer.user">User</span></dt>
        <dd>
            {{customer.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
