<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductLabel" jhiTranslate="storeApp.product.home.createOrEditLabel">Create or edit a Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!product.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="product.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.product.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="product.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.product.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="product.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.product.price" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="product.price" required min="0"/>
            <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.price?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.price?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.product.size" for="field_size">Size</label>
            <select class="form-control" name="size" [(ngModel)]="product.size" id="field_size"  required>
                <option value="S">{{'storeApp.Size.S' | translate}}</option>
                <option value="M">{{'storeApp.Size.M' | translate}}</option>
                <option value="L">{{'storeApp.Size.L' | translate}}</option>
                <option value="XL">{{'storeApp.Size.XL' | translate}}</option>
                <option value="XXL">{{'storeApp.Size.XXL' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.size?.dirty && editForm.controls.size?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.size?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.product.image" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + product.imageContentType + ';base64,' + product.image" style="max-height: 100px;" *ngIf="product.image" alt="product image"/>
                <div *ngIf="product.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{product.imageContentType}}, {{byteSize(product.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, product, 'image', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="product.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="product.imageContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="storeApp.product.productCategory" for="field_productCategory">Product Category</label>
            <select class="form-control" id="field_productCategory" name="productCategory" [(ngModel)]="product.productCategory" >
                <option [ngValue]="null"></option>
                <option [ngValue]="productCategoryOption.id === product.productCategory?.id ? product.productCategory : productCategoryOption" *ngFor="let productCategoryOption of productcategories; trackBy: trackProductCategoryById">{{productCategoryOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
